<?xml version="1.0"?>

<model>
  <name>Catamaran_Sailboat</name>
  <version>1.0</version>
  <sdf>urdf/Catamaran_Sailboat</sdf>

  <author>
    <name>Thirawat Sankotara</name>
    <email>thirawat.sa@ku.th</email>
  </author>

  <description>
    The Catamaran Sailboat model
  </description>
</model>

